@charset "UTF-8";
/*公共样式*/
body {
  position: relative;
  min-height: calc(100vh);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;
  font-size: 14px;
  font-family: 'microsoft yahei';
}

* {
  margin: 0;
  padding: 0;
}

input, button, select, textarea {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

em, i {
  font-style: normal;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

input:-moz-placeholder {
  color: #ccc !important;
}

input::-moz-placeholder {
  color: #ccc !important;
}

input:-ms-input-placeholder {
  color: #ccc !important;
}
.clear:after{
  content:'';
  display: block;
  width:100%;
  height:0;
  clear:both;
}
.btn{
  width:126px;
  line-height: 40px;
  color:#fff;
  border-radius: 20px;
  background: #004fff;
  border:none;
  box-shadow: 0 3px 10px #083db4;
}

